@charset "ucf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: gainsboro;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

header ul{
  display: flex;
  width: 40%;
  list-style: none;
}
header ul li{
  width: 100%;
  margin: 0 5px;
  line-height: 3;
  text-align: center;
  border-bottom: 1px solid blueviolet;

}

.main-image {
  width: 90%;
  height: 670px;
  display: block;
  margin: 0 auto;
}

article {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(197, 141, 250);
  padding: 40px;
}

main section {
  background-color: lavenderblush;
}

.linkb {
  background-color: rgb(239, 214, 253);
  padding: 10px 0;
  display: block;
  text-align: center;
  color: rgb(92, 88, 88);
  width: 30%;
  margin: 10px auto;
  text-decoration: none;
}

#form{
  text-align: center;
}

.last{
  background-color: rgb(215, 178, 250);
  text-align: center;
  font-size: 10px;
  letter-spacing: 10px;
  padding: 10px 0;
  color:rgb(121, 120, 120) ;
}
header a{
  text-decoration: none;
}

article h1{
  background-color:antiquewhite;
border-radius: 5px;
width: 40%;
margin: 0 auto;

}
article p{
  padding: 30px 0;
  
}

.item{
  background-color: aliceblue;
  width: calc((100% - 12px) / 3);
  
}
.tb{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(144, 201, 250);
  gap: 5px;
  padding: 10px;
}

.tb p{
  font-size: 8px;
}

#site div{
  background-color: rgb(225, 228, 228);
  width: 80%;
  border: 1px solid;
  margin: 10px auto;
  padding: 10px;
}

[type="text"]{
  width: 80%;
  padding: 10px;
}

textarea{
  width: 80%;
  
}

#form ::placeholder{
  text-align: center;


}
#form div{
  padding: 10px 0;
}

#caret{
  text-align: center;
  padding: 10px;
}

.item img{
  border-radius: 50px;
  object-fit: cover;
  width: 120px;
  height: 80px;
  margin: 10px auto;
}