@charset "ucf-8";

.header {
  background-color: rgb(red, green, blue);
  display: flex;
  padding: 15px;
}
header>ul {
  display: flex;
  list-style: none;
  width: 40%;
}
header>ul li{
  width: 100%;
  text-align: center;
  line-height: 3;
  margin: 0 5px;
  border-bottom: 1px black;
}

.main-image {
  width: 90%;
  height: 670px;
  display: block;
  margin: 0 auto;
}

main section {
  background-color: beige;
}

article {
  width: 80%;
  margin: auto;
  background-color: bisque;
  text-align: center;
  padding: 40px;
}
article>h1{
  background-color: black;
  color: white;
  width: 40%;
  border-radius: 20%;
  margin: 0px auto;
}
article p{
  padding:30px 0;
  background-color: antiquewhite;
}


#form {
  text-align: center;
}

.link {
  display: block;
  margin: 10px auto;
  width: 30%;
  text-align: center;
  background-color: black;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
}

.last {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
  letter-spacing: 10px;
  padding: 10px 0;
}